<section class="bottom">
    <div class="bottom-container">
        <ul class="activities">
            <li><a href="">Products</a></li>
            <li><a href="">Demo</a></li>
            <li><a href="">Sample projects</a></li>
            <li><a href="">Customer care</a></li>
            <li><a href="">Book a session</a></li>
            <li><a href="">Refunds</a></li>
            <li><a href="">Happy clients</a></li>
            <li><a href="">Training</a></li>
            <li><a href="">Work with us</a></li>
        </ul>
    </div>
</section>