<section class="bottom">
    <div class="bottom-container">
        <ul class="activities">
            <li>Products</li>
            <li>Demo</li>
            <li>Sample projects</li>
            <li>Customer care</li>
            <li>Book a session</li>
            <li>Refunds</li>
            <li>Happy clients</li>
            <li>Training</li>
            <li>Work with us</li>
        </ul>
    </div>
</section>