<nav>
    <h3 class="logo">QMSaas</h3>
    <ul class="nav">
        <li> <a href="/about">About us</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/">Home</a></li>
   </ul>
</nav>

