
<%- include('partials/header') %>

<%- include('partials/nav') %>
    
    <h1>This is the about page</h1>
    <p>The current time is: <%= new Date().toLocaleTimeString() %></p>

<%- include('partials/footer') %>